/* カスタムスタイル - コンテンツ幅を固定して読みやすく */

/* 一定サイズ以上ではコンテンツ幅を1200pxに固定 */
@media screen and (min-width: 1088px) {
  .is-1-column .container,
  .is-2-column .container {
    max-width: 1200px !important;
  }
}
